<div class="chat-container">
  <div class="messages">
    <div *ngFor="let message of messages; let i = index" class="message" [class.user]="message.sender === 'user'" [class.other]="message.sender !== 'user'">
      <span [innerText]="message.content.replace(' 📋', '')"></span>
      <span *ngIf="message.content.includes(' 📋')" class="copy-icon" (click)="copyMessageToClipboard(i)">📋</span>
    </div>
  </div>
   <div class="message-input">
     <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Escribe un mensaje aquí...">
     <button (click)="sendMessage()">Enviar</button>
   </div>
 </div>
 